html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

main {
    min-height: 100%;
    font-family: Montserrat, "serif";
}

nav {
    width: 100%;
    top: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color 150ms, color 50ms;
    color: white;
}

nav.scrolled {
    background-color: white;
    color: black;
    border-bottom: 1px solid #E8E8E8FF;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav ul li {
    padding: 15px;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    text-transform: uppercase;
}

.title {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.section-header {
    font-weight: 500;
}

section#home {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75vh;
    color: white;
    background-image: url("../images/home.png");
    background-size: cover;
    text-transform: capitalize;
    font-size: 2em;
}

section#why, section#cars, section#releases {
    display: flex;
    flex-direction: column;
}

section#why {
    padding: 50px;
}

section#cars {
    background-color: #f6f6f6;
    padding: 0 50px 25px 50px;
}

.car-cards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 1.5em;
}

.car-card {
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px 1px #E8E8E8FF;
    border-radius: 10px;
}

.card-img-container {
    text-align: center;
}

.card-img-container img {
    width: auto;
    height: 200px;
    object-fit: cover;
    pointer-events: none;
}

.card-img-container h3 {
    color: dimgray;
    font-weight: bold;
}

.card-specs {
    display: grid;
    justify-content: space-around;
    grid-gap: 1em;
    grid-template-areas: "r b"
                         "p pr";
}

.range {
    grid-area: r;
}

.battery {
    grid-area: b;
}

.power {
    grid-area: p;
}

.price {
    grid-area: pr;
}

.spec-name {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

.learn-more {
    width: 90%;
    text-decoration: none;
    padding: 10px 5px 10px 5px;
    margin: 5px;
    color: white;
    background-color: coral;
    border-radius: 10px;
    text-align: center;
    transition: background-color 100ms, color 100ms;
}

.learn-more:hover {
    background-color: transparent;
    color: coral;
    border: 1px solid coral;
    margin: 4px;
}

.gray-text {
    color: gray;
}

section#upcoming-releases header {
    text-align: center;
}

.releases-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.releases-card img {
    width: 100%;
    border-radius: 5px;
}

.releases-card {
    padding: 10px;
    margin: 10px;
    width: 400px;
}

.releases-card figure {
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.releases-card img {
    object-fit: cover;
    max-width: 400px;
    height: 250px;
    pointer-events: none;
}

footer {
    position: static;
    width: 100%;
    text-align: center;
}